.profail__name {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
  margin: 5px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 288px;
}

@media screen and (min-width: 480px) {
  .profail__name {
    font-size: 40px;
    line-height: 52px;
    margin: 62px 18px 0 30px;
    max-width: 300px;
  }
}
