.profail__add-button {
  width: 282px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  padding: 0;
  margin: 32px auto 0;
  background-color: #000000;
  background: url(../../../images/plus.svg) center no-repeat;
  cursor: pointer;
}

.profail__add-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 480px) {
  .profail__add-button {
    width: 151px;
    margin: 74px 0 0 243px;
    background-size: 22px 22px;
  }
}
