.group {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill);
  justify-content: center;
  margin-top: 29px;
}



@media screen and (min-width: 480px) {
  .group {
    gap: 16px;
    grid-template-columns: repeat(3, 282px);
  }
}
