.profail__info_name {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
  margin: 5px 0 0;
}

@media screen and (min-width: 480px) {
  .profail__info_name {
    font-size: 44px;
    line-height: 48px;
    margin: 62px 18px 0 30px;
  }
}
