.popup__text {
  width: 238px;
  height: 39px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  padding: 0;
  margin: 18px 22px 0;
}

@media screen and (min-width: 768px) {
  .popup__text {
    width: 358px;
    height: 39px;
    text-align: start;
    margin: 20px 36px 0;
    font-size: 14px;

  }
}
